*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    position: relative;
}


.game-board {

    --cell-size: 20vmin;
    --cell-gap: 1vmin;
    --cell-count: 3;

    position: relative;
    display: grid;
    width: fit-content;
    margin: 0 auto;
    font-size: 7.5vmin;
    grid-template-columns: repeat(var(--cell-count), var(--cell-size));
    grid-template-rows: repeat(var(--cell-count), var(--cell-size));
    background-color: #ccc;
    padding: var(--cell-gap);
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    font-weight: 700;
}
